@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Light.990d529761b45e6cff159655a2eac3c9.eot);
    src: local('HelveticaNeueCyr-Light'),
        url(../fonts/HelveticaNeueCyr-Light.990d529761b45e6cff159655a2eac3c9.eot?#iefix) format('embedded-opentype'),
        url(../fonts/HelveticaNeueCyr-Light.e914a2dd1cd1d3c3944e0ad0e950046d.woff) format('woff'),
        url(../fonts/HelveticaNeueCyr-Light.307781839e3e303ff49b223dc242baac.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Roman.e2cd70ac11658e1d9c328d345d86ff7f.eot);
    src: local('HelveticaNeueCyr-Roman'),
        url(../fonts/HelveticaNeueCyr-Roman.e2cd70ac11658e1d9c328d345d86ff7f.eot?#iefix) format('embedded-opentype'),
        url(../fonts/HelveticaNeueCyr-Roman.510e1c045e61e20233f9ecf23d031703.woff) format('woff'),
        url(../fonts/HelveticaNeueCyr-Roman.fadb2adb0984cb4e053e45428d96e01a.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url(../fonts/HelveticaNeueCyr-Medium.ae503b13b400cfaea50d767b4b61b810.eot);
	src: local('HelveticaNeueCyr-Medium'),
		url(../fonts/HelveticaNeueCyr-Medium.ae503b13b400cfaea50d767b4b61b810.eot?#iefix) format('embedded-opentype'),
		url(../fonts/HelveticaNeueCyr-Medium.2a615283a212836fd6c33bf32bc87ebf.woff) format('woff'),
		url(../fonts/HelveticaNeueCyr-Medium.e603c690f754c70654004a753c17b60b.ttf) format('truetype');
        font-weight: 500;
        font-style: normal;
}
   
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Bold.5bbf832fec501cfb6afae24d67d39a0a.eot);
    src: local('HelveticaNeueCyr-Bold'),
        url(../fonts/HelveticaNeueCyr-Bold.5bbf832fec501cfb6afae24d67d39a0a.eot?#iefix) format('embedded-opentype'),
        url(../fonts/HelveticaNeueCyr-Bold.ca12a719cd344dd391d9f51e7bbd9b33.woff) format('woff'),
        url(../fonts/HelveticaNeueCyr-Bold.50475e9398305457c4ead55941b10a0f.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */ /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.canvas_wrapper
{
    float: left;
    position: relative;
    overflow: hidden;
}

.canvas__show_info
{
    position: absolute;
    top: 10px;
    left: 0px;

    transition: left 0.1s;
    min-width: 8.12em;
}

.canvas__show_info__wrapper
{
    padding: 15px 15px 13px 15px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border: 1px solid rgba(227, 227, 227, 0.65);
    border-radius: 11px;
    transition: 0.1s;
    min-width: 178px;
}

.mode_night .canvas__show_info__wrapper
{
    background-color: #1C2533;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(227, 227, 227, 0);
    color: #fff;
}

.canvas__show_info__title
{
    font-weight: 600;
    color: #222222;
    letter-spacing: 0.3px;
    margin-bottom: 11px;
    font-size: 14px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mode_night .canvas__show_info__title
{
    color: #fff;
}

.canvas__show_info__title__value
{
    float: left;
}

.canvas__show_info__title__zoom
{
    color: grey;
    float: right;
}

.canvas__show_info__title__zoom__icon 
{
    width: 7px;
    height: 16px;
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    opacity: 1;
    z-index: 3;
    transition: opacity 0.2s;
}

.mode_night .canvas__show_info__title__zoom__icon 
{
    opacity: 0.6;
}

.canvas__show_info__rows
{
    width: 100%;
    display: table;
}

.canvas__show_info__row__item
{
    display: table-row;
    width: 100%;
    font-size: 14px;
    margin-right: 2.5em;
}

.canvas__show_info__row__item__percent,
.canvas__show_info__row__item__name,
.canvas__show_info__row__item__value
{
    padding-bottom: 9px;
}

.canvas__show_info__row__item__value
{
    text-align: right;
}

.canvas__show_info__row__item:last-child .canvas__show_info__row__item__percent,
.canvas__show_info__row__item:last-child .canvas__show_info__row__item__name,
.canvas__show_info__row__item:last-child .canvas__show_info__row__item__value
{
    padding-bottom: 0px;
}


.canvas__show_info__row__item .canvas__show_info__row__item__percent
{
    padding-right: 0.8em;
    display: table-cell;
    display: none;
    font-weight: bold;
    text-align: right;
    font-size: 14px;
}

.canvas__show_info__row__item.canvas__show_info__row__item_with_percent .canvas__show_info__row__item__percent
{
    display: block;
}

.canvas__show_info__row__item__name
{
    padding-right: 0.8em;
    display: table-cell;
    font-weight: 400;
}

.canvas__show_info__row__item__value
{
    display: table-cell;
    font-weight: bolder;
    letter-spacing: 0.2px;
    white-space: nowrap;
}

.canvas_wrapper__x_labels_wrapper
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #fff;
    opacity: 1;
    transition: opacity 0.2s;
}

.charts.charts__zoom_byDay.charts__zoomed.charts__stacked.charts__percentage .canvas_wrapper__x_labels_wrapper
{
    opacity: 0;
}

.mode_night .canvas_wrapper__x_labels_wrapper
{
    background-color: #242f3e;
}

.canvas_wrapper__x_labels_wrapper__item
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.2s, color 0.2s;
    font-size: 12px;
    color: #8E8E93;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode_night .canvas_wrapper__x_labels_wrapper__item
{
    color: #87909A;
}

.canvas__show_select_arc
{
    position: absolute;
    padding: 11px 15px 9px 15px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border: 1px solid rgba(227, 227, 227, 0.65);
    color: #000;
    border-radius: 11px;
    transition: 0.1s;
    min-width: 178px;
    font-size: 14px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    transition: 
        left 0.2s,
        top 0.2s,
        background-color 0.2s,
        box-shadow 0.2s,
        border 0.2s,
        color 0.2s;
}

.mode_night .canvas__show_select_arc
{
    background-color: #1C2533;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(227, 227, 227, 0);
    color: #fff;
}

.canvas__show_select_arc .label
{
    padding-right: 0.8em;
    display: table-cell;
    font-weight: 400;
}

.canvas__show_select_arc .value
{
    display: table-cell;
    font-weight: bolder;
    letter-spacing: 0.2px;
    white-space: nowrap;
}
.canvas_wrapper__bar_chart
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.canvas_wrapper__bar_chart__item
{
    position: absolute;
}
.line__switchers
{
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 18px 0px 18px;
}

.line__switchers__item
{
    border: 1px solid #dcdfe4;
    border-radius: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.6px;
    padding: 3px 24px 2px 23px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-right: 7px;
    margin-bottom: 9px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.2s;
    cursor: pointer;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.line__switchers__item.line__switchers__item_active
{
    padding: 3px 15px 2px 32px;
}

.mode_night .line__switchers__item
{
    border-color: #344658;
}

.line__switchers__item__check
{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: 11px;
    z-index: 2;
}

.line__switchers__item__check__circle_blank
{
    top: 0px;
    left: 0px;
    transition: 0.2s;
    width: 15px;
    height: 12px;
}

.mode_night .line__switchers__item__check__circle_blank
{
    background-color: #242f3e;
    z-index: 4;
}

.line__switchers__item__check__icon
{
    width: 100%;
    height: 100%;
    background-position: top left;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0;
    transition: 0.2s;
}

.line__switchers__item_active .line__switchers__item__check__icon
{
    opacity: 1;
}

.line__switchers__item__label
{
    color: #000;
    transition: color 0.2s;
}

.line__switchers__item_active .line__switchers__item__label
{
    color: #fff;
    position: relative;
    z-index: 3;
}

.line__switchers__item__tap_indicator
{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: -webkit-transform 0ms;
    transition: transform 0ms;
    transition: transform 0ms, -webkit-transform 0ms;
    opacity: 0.3;
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
}

.line__switchers__item_active .line__switchers__item__tap_indicator
{
    opacity: 1;
}

.line__switchers__item__touching .line__switchers__item__tap_indicator
{
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: -webkit-transform 800ms;
    transition: transform 800ms;
    transition: transform 800ms, -webkit-transform 800ms;
}

.charts.charts__zoom_by3Days .line__switchers .line__switchers__item
{
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: 
        opacity 0.4s,
        -webkit-transform 0.2s;
    transition: 
        opacity 0.4s,
        transform 0.2s;
    transition: 
        opacity 0.4s,
        transform 0.2s,
        -webkit-transform 0.2s; 
}

.charts.charts__zoom_by3Days .line__switchers .line__switchers__item.line__switchers__item_fadein
{
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}


.line__switchers__item_shake
{
    -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  @-webkit-keyframes shake {
    10%, 90% {
      -webkit-transform: translate3d(-1px, 0, 0);
              transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      -webkit-transform: translate3d(2px, 0, 0);
              transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      -webkit-transform: translate3d(-4px, 0, 0);
              transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      -webkit-transform: translate3d(4px, 0, 0);
              transform: translate3d(4px, 0, 0);
    }
  }
  
  @keyframes shake {
    10%, 90% {
      -webkit-transform: translate3d(-1px, 0, 0);
              transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      -webkit-transform: translate3d(2px, 0, 0);
              transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      -webkit-transform: translate3d(-4px, 0, 0);
              transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      -webkit-transform: translate3d(4px, 0, 0);
              transform: translate3d(4px, 0, 0);
    }
  }
body *
{
    font-family: HelveticaNeueCyr,Tahoma,sans-serif,Arial;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.app
{
    background-color: #fff;
    transition: background-color 0.2s;
}

.app.mode_night
{
    background-color: #242F3E;
}

.charts
{
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 25px 0px 35px 0px;
    font-size: 16px;
    position: relative;
}

.charts__header
{
    width: 100%;
    padding: 0px 18px;
}

.charts__footer
{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 75px;
}

.chart_title
{
    padding: 10px 10px 20px 0px;
    font-size: 17px;
    font-weight: bold;
    transition: color 0.2s;
    color: #222;
    float: left;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);    
    -webkit-transform-origin: center left;    
            transform-origin: center left;
    transition: 0.2s;
}

.charts__zoomed .chart_title
{
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
}

.mode_night .chart_title
{
    color: #FFFFFF;
}

.charts__title_wrapper
{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.charts__zoom_out
{
    padding: 0px 0px 20px 0px;
    position: absolute;
    left: 18px;
    top: 32px;
    display: flex;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center left;
            transform-origin: center left;
    transition: 0.2s;
}

.charts__zoomed .charts__zoom_out
{
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.charts__zoom_out__icon
{
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: auto;
}

.charts__zoom_out__text
{
    font-size: 17px;
    font-weight: 500;
    color: #108BE3;
    padding-top: 3px;
    transition: 0.2s;
}

.mode_night .charts__zoom_out__text
{
    color: #48AAF0;
}
.mode_night .charts__zoom_out__icon
{
    background-position: -20px 0px;
}

.charts__dates
{
    float: right;
    padding: 16px 0px 10px 0px;
    font-size: 14px;
    font-weight: bold;
}
.charts__minimap_wrapper
{
    position: relative;
    width: calc(100% - 36px);
    height: 45px;
    margin: 10px 18px 10px 18px;
    float: left;
}

.charts.charts__zoom_by3Days .charts__minimap_wrapper
{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: 
        opacity 0.5s,
        -webkit-transform 0.35s;
    transition: 
        opacity 0.5s,
        transform 0.35s;
    transition: 
        opacity 0.5s,
        transform 0.35s,
        -webkit-transform 0.35s; 
}

.charts.charts__zoom_by3Days.charts__zoomed .charts__minimap_wrapper
{
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}

.minimap__canvas_wrapper
{
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 7px;
    height: 45px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.minimap
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.minimap__zone,
.minimap__left_zone,
.minimap__right_zone,
.minimap__left_size_zone,
.minimap__right_size_zone
{
    position: absolute;
    height: 100%;
    z-index: 1;
}

.charts__zoom_byDay.charts__zoomed .minimap__zone,
.charts__zoom_byDay.charts__zoomed .minimap__left_zone,
.charts__zoom_byDay.charts__zoomed .minimap__right_zone,
.charts__zoom_byDay.charts__zoomed .minimap__left_size_zone,
.charts__zoom_byDay.charts__zoomed .minimap__right_size_zone
{
    transition: left 0.2s, width 0.2s;
}

.minimap__zone
{
    top: -1px;
    bottom: -1px;
    height: auto;
    z-index: 2;
    cursor: move;
    border: 1px solid #c0cfe1;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px transparent;
    transition: border 0.2s, box-shadow 0.2s;
}

.mode_night .minimap__zone
{
    border: 1px solid #56626d;
}

.minimap__left_size_zone,
.minimap__right_size_zone
{
    z-index: 5;
    width: 11px;
    top: -1px;
    bottom: -1px;
    height: auto;
    cursor: col-resize;
    background-color: #C0D1E1;
    transition: background-color 0.2s;
}

.mode_night .minimap__left_size_zone,
.mode_night .minimap__right_size_zone
{
    background-color: #56626D;
}

.minimap__left_size_zone
{
    border-radius: 7px 0px 0px 7px;
}

.minimap__right_size_zone
{
    border-radius: 0px 7px 7px 0px;
    -webkit-transform: translateX(-11px);
            transform: translateX(-11px);
}


.minimap__size_zone__helper
{
    width: 22px;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.minimap__left_size_zone .minimap__size_zone__helper__line,
.minimap__right_size_zone .minimap__size_zone__helper__line
{
    content: "";
    position: absolute;
    width: 2px;
    height: 11px;
    background-color: #fff;
    border-radius: 5px;
    left: 5px;
    top: 17px;
}

.minimap__left_size_zone:before
{
    left: 0px;
}
.minimap__right_size_zone:before
{
    right: 0px;
}

.minimap__left_zone,
.minimap__right_zone
{
    min-width: 7px;
    background-color: rgba(226, 238, 249, 0.6);
    transition: background-color 0.2s;
}

.minimap__left_zone
{
    border-radius: 7px 0px 0px 7px;
}
.minimap__right_zone
{
    border-radius: 0px 7px 7px 0px;
}


.minimap__left_zone:before,
.minimap__right_zone:after
{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 3px;
    background-color: rgba(226, 238, 249, 0.6);
    transition: background-color 0.2s;
}

.mode_night .minimap__left_zone:before,
.mode_night .minimap__right_zone:after
{
    background-color: rgba(48, 66, 89, 0.6);
}

.minimap__left_zone:before
{
    right: -3px;
}

.minimap__right_zone:after
{
    left: -3px;
}

.mode_night .minimap__left_zone,
.mode_night .minimap__right_zone
{
    background-color: rgba(48, 66, 89, 0.6);
}

.minimap__left_zone
{
    left: 0px;
}

.minimap__right_zone
{
    right: 0px;
}


#app4 .app:not(.mode_night) .minimap__zone
{
    box-shadow: 0px 0px 0px 1px #fff;
}

#app4 .app:not(.mode_night) .minimap__left_size_zone:after,
#app4 .app:not(.mode_night) .minimap__right_size_zone:after
{
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 1px;
    background-color: #fff;
}

#app4 .app:not(.mode_night) .minimap__left_size_zone:after
{
    right: -1px;
}
#app4 .app:not(.mode_night) .minimap__right_size_zone:after
{
    left: -1px;
}



.dates_range
{
    float: right;
    padding: 13px 0px 20px 0px;
    font-size: 14px;
    font-weight: bold;
}

.mode_night .dates_range 
{
    color: #fff;
}

.dates_range__item
{
    /* float: left; */
    display: inline-block;
}

.dates_range__item + .dates_range__item:before
{
    content: "-";
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.dates_range__item__year,
.dates_range__item__month,
.dates_range__item__day
{
    display: inline-block;
}

.dates_range__item__month,
.dates_range__item__day
{
    margin-right: 5px;
}
.color__switcher
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 18px;
    letter-spacing: 0.42px;
    padding: 40px 18px 37px 18px;
    background-color: #fff;
    transition: background-color 0.2s;
}

.color__switcher.mode_night
{
    background-color: #242F3E;
}

.color__switcher__item
{
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #108BE3;
    transition: color 0.2s;
}

.mode_night .color__switcher__item
{
    color: #48AAF0;
}

/*# sourceMappingURL=main.css.map*/