.canvas_wrapper
{
    float: left;
    position: relative;
    overflow: hidden;
}

.canvas__show_info
{
    position: absolute;
    top: 10px;
    left: 0px;

    transition: left 0.1s;
    
    /* min-width: 130px; */
    min-width: 8.12em;
}

.canvas__show_info__wrapper
{
    padding: 8px 8px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border: 1px solid rgba(227, 227, 227, 0.65);
    border-radius: 11px;

    transition: 0.1s;
}

.mode_night .canvas__show_info__wrapper
{
    background-color: #253241;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(227, 227, 227, 0);
}

.canvas__show_info__title
{
    /* font-size: 19px; */
    /* margin-top: 2px; */
    /* margin-bottom: 13px; */

    font-weight: 600;
    color: #222222;

    letter-spacing: 0.3px;

    font-size: 1.19em;
    margin-top: 0.12em;
    margin-bottom: 0.7em;
}

.mode_night .canvas__show_info__title
{
    color: #fff;
}

.canvas__show_info__rows
{
    width: 100%;
    display: table;
}

.canvas__show_info__row__item
{
    display: table-row;
    width: 100%;
    font-size: 1em;
    /* margin-right: 40px; */
    margin-right: 2.5em;
    align-items: center;
    justify-content: center;
    height: 1.5em;
}

.canvas__show_info__row__item__percent,
.canvas__show_info__row__item__name,
.canvas__show_info__row__item__value
{
    padding-bottom: 0.8em;
}

.canvas__show_info__row__item .canvas__show_info__row__item__percent
{
    padding-right: 0.8em;
    display: table-cell;
    display: none;
    font-weight: bold;
    text-align: right;
    font-size: 1.3em;
}

.canvas__show_info__row__item.canvas__show_info__row__item_with_percent .canvas__show_info__row__item__percent
{
    display: block;
}

.canvas__show_info__row__item__name
{
    min-width: 7em;
    padding-right: 0.8em;
    display: table-cell;
    font-size: 1.2em;
    /* font-size: 14px; */
    font-weight: 400;
}

.canvas__show_info__row__item__value
{
    display: table-cell;
    font-weight: bolder;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
    font-size: 1em;
    margin-bottom: 0.32em;
    white-space: nowrap;
}

.canvas_wrapper__x_labels_wrapper
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #fff;
}

.mode_night .canvas_wrapper__x_labels_wrapper
{
    background-color: #242f3e;
}

.canvas_wrapper__x_labels_wrapper__item
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.2s, color 0.2s;
    color: #96A2AA;
    font-size: 1.1em;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode_night .canvas_wrapper__x_labels_wrapper__item
{
    color: #546778;
}