body *
{
    font-family: HelveticaNeueCyr,Tahoma,sans-serif,Arial;
    appearance: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.app
{
    background-color: #fff;
    transition: background-color 0.2s;
}

.app.mode_night
{
    background-color: #242F3E;
}

.charts
{
    width: 100%;
    user-select: none;
    padding: 25px 0px 35px 0px;
    font-size: 16px;
    position: relative;
}

.charts__header
{
    width: 100%;
    padding: 0px 18px;
}

.charts__footer
{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 75px;
}

.chart_title
{
    padding: 10px 10px 20px 0px;
    font-size: 17px;
    font-weight: bold;
    transition: color 0.2s;
    color: #222;
    float: left;
    opacity: 1;
    transform: scale(1);    
    transform-origin: center left;
    transition: 0.2s;
}

.charts__zoomed .chart_title
{
    transform: scale(0);
    opacity: 0;
}

.mode_night .chart_title
{
    color: #FFFFFF;
}

.charts__title_wrapper
{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.charts__zoom_out
{
    padding: 0px 0px 20px 0px;
    position: absolute;
    left: 18px;
    top: 32px;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transform-origin: center left;
    transition: 0.2s;
}

.charts__zoomed .charts__zoom_out
{
    opacity: 1;
    transform: scale(1);
}

.charts__zoom_out__icon
{
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: auto;
}

.charts__zoom_out__text
{
    font-size: 17px;
    font-weight: 500;
    color: #108BE3;
    padding-top: 3px;
    transition: 0.2s;
}

.mode_night .charts__zoom_out__text
{
    color: #48AAF0;
}
.mode_night .charts__zoom_out__icon
{
    background-position: -20px 0px;
}

.charts__dates
{
    float: right;
    padding: 16px 0px 10px 0px;
    font-size: 14px;
    font-weight: bold;
}