.app
{
    /* min-height: 100vh; */
    transition: background-color 0.2s;
}

.app *
{
    font-family: NeueHaasDisplay,Tahoma,sans-serif,Arial;
}

.app.mode_night
{
    background-color: #242F3E;
}

.charts
{
    width: 100%;
    user-select: none;
    padding: 10px 15px;
    font-size: 16px;
}

.chart_title
{
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.2s;
    color: #222222;
    float: left;
}

.mode_night .chart_title
{
    color: #FFFFFF;
}

.color__switcher
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 1.2em 0;
    /* height: 6em; */
}

.color__switcher__item
{
    color: #36A8F1;
    font-size: 2em;
    /* height: 2em; */
    cursor: pointer;
    user-select: none;
}