.app
{
    min-height: 100vh;
    transition: background-color 0.2s;
}

.app *
{
    font-family: NeueHaasDisplay,Tahoma,sans-serif,Arial;
}

.app.mode_night
{
    background-color: #242F3E;
}

.charts
{
    width: 100%;
    user-select: none;
    padding: 10px 15px;
    font-size: 16px;
}

.chart_title
{
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.2s;
    color: #222222;
    float: left;
}

.mode_night .chart_title
{
    color: #FFFFFF;
}

.charts__minimap_wrapper
{
    position: relative;
    width: 100%;
    height: 56px;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
}

.minimap
{
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    overflow: hidden;
}

.minimap__zone,
.minimap__left_zone,
.minimap__right_zone,
.minimap__left_size_zone,
.minimap__right_size_zone
{
    position: absolute;
    height: 100%;
    z-index: 1;
}

.minimap__zone
{
    z-index: 2;
    border-top: 2px solid rgba(183, 215, 238, 0.48);
    border-bottom: 2px solid rgba(183, 215, 238, 0.48);
    border-left: 5px solid rgba(183, 215, 238, 0.48);
    border-right: 5px solid rgba(183, 215, 238, 0.48);

    cursor: move;

    transition:
        border-top-color 0.2s,
        border-bottom-color 0.2s,
        border-left-color 0.2s,
        border-right-color 0.2s;
}

.mode_night .minimap__zone
{
    border-top-color: rgba(64, 86, 107, 0.85);
    border-bottom-color: rgba(64, 86, 107, 0.85);
    border-left-color: rgba(64, 86, 107, 0.85);
    border-right-color: rgba(64, 86, 107, 0.85);
}

.minimap__left_size_zone,
.minimap__right_size_zone
{
    z-index: 3;
    /* background-color: rgba(183, 215, 238, 0.48); */
    width: 5px;
    cursor: col-resize;
}

.minimap__size_zone__helper
{
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.185); */
    width: 20px;
    height: 100%;
    left: -8px;
}

.minimap__left_zone,
.minimap__right_zone
{
    background-color: rgba(241, 246, 249, 0.85);
    transition: background-color 0.2s;
}

.mode_night .minimap__left_zone,
.mode_night .minimap__right_zone
{
    background-color: rgba(31, 42, 56, 0.82);
}

.minimap__left_zone
{
    left: 0px;
}

.minimap__right_zone
{
    right: 0px;
}

.minimap__canvas_wrapper
{
    padding-top: 3px;
    padding-bottom: 3px;
}

.color__switcher
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 1.2em 0;
    /* height: 6em; */
}

.color__switcher__item
{
    color: #36A8F1;
    font-size: 2em;
    /* height: 2em; */
    cursor: pointer;
    user-select: none;
}