.dates_range
{
    float: right;
    padding: 13px 0px 20px 0px;
    font-size: 14px;
    font-weight: bold;
}

.mode_night .dates_range 
{
    color: #fff;
}

.dates_range__item
{
    /* float: left; */
    display: inline-block;
}

.dates_range__item + .dates_range__item:before
{
    content: "-";
    /* float: left; */
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.dates_range__item__year,
.dates_range__item__month,
.dates_range__item__day
{
    display: inline-block;
}

.dates_range__item__month,
.dates_range__item__day
{
    margin-right: 5px;
}